$color-light-background: #ECF0F5;
$color-dark-background: #25476A;

:global {
.admin.layout {
  background-color: $color-light-background;
  a {
    color: $color-dark-background;
    transition: all 0.2s ease-in-out;
    &:after {
      display: none;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  header.header {
    background-color: $color-dark-background;
    text-align: right;
    padding: 1.6rem;
    a.navi {
      color: white;
      margin-left: 1.6rem;
    }
    .brand {
      color: white;
      float: left;
    }
  }
  .bg-container {
    position: relative;
    &:before {
      content: '';
      display: block;
      background-color: $color-dark-background;
      width: 100%;
      height: 10rem;
      position: absolute;
      z-index: -1;
    }
  }
  .welcome {
    color: white;
    font-weight: normal;
    font-size: 1.2rem;
    margin: 0;
    padding: 1.6rem 0;
    .new {
      padding: 0 .6rem;
      color: white;
      text-decoration: underline;
    }
  }
  .panel {
    background: white;
    box-sizing: border-box;
    padding: .8rem;
  }
}
}
