@import '../assets/css/constant.scss';
$color-light-background: #ECF0F5;
$color-dark-background: #25476A;

:global {
.admin.layout {
  background-color: $color-light-background;
  a {
    color: $color-dark-background;
    transition: all 0.2s ease-in-out;
    &:after {
      display: none;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  textarea,
  input[type] {
    &:focus {
      box-shadow: 0 0 5px $color-main-background-dark;
      border: 1px solid $color-main-background-dark;
    }
  }
  header.header {
    background-color: $color-dark-background;
    text-align: right;
    padding: 1.6rem;
    a.navi {
      color: white;
      margin-left: 0.8rem;
    }
    .brand {
      color: white;
      float: left;
    }
  }
  .action {
    input[type='submit'] {
      border: 1px solid $color-main-background-dark;
      background: $color-main-background-dark;
    }
  }
  .select {
    select {
      &:focus {
        box-shadow: 0 0 5px $color-main-background-dark;
        border: 1px solid $color-main-background-dark;
      }
    }
  }
  .bg-container {
    position: relative;
    &:before {
      content: '';
      display: block;
      background-color: $color-dark-background;
      width: 100%;
      height: 10rem;
      position: absolute;
      z-index: -1;
    }
  }
  .welcome {
    color: white;
    font-weight: normal;
    font-size: 1.2rem;
    margin: 0;
    padding: 1.6rem 0;
    .new {
      padding: 0 .6rem;
      color: white;
      text-decoration: underline;
    }
  }
  .panel {
    background: white;
    box-sizing: border-box;
    padding: .8rem;
  }

  @media only screen and (max-width: 64rem) {
    .only-pc {
      display: none;
    }
  }
}
}
