.page {
  background: #070b28;
  min-height: 100vh;
  padding-top: 3.2rem;
}
.title {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: .8rem;
}
.subtitle {
  color: white;
  text-align: center;
  margin-bottom: 3.2rem;
}
.container {
  background: white;
  border-radius: 2rem 2rem 0 0;
  padding: 3.2rem;
  .wrapper {
    width: 64rem;
    max-width: 100%;
    margin: 0 auto;
  }
}
.actions {
  text-align: center;
  margin-bottom: .8rem;
  padding: .1rem;
  .action {
    color: rgba(218,40,16,.8);
    cursor: pointer;
    display: inline-block;
    margin: 0 .4rem .4rem 0;
    padding: .4rem .8rem;
    &:hover {
    color: rgba(218,40,16,1);
    }
    &.current {
      font-size: 1.6rem;
    }
  }
}
.profile {
  box-sizing: border-box;
  text-align: center;
  padding: 0 1.6rem 1.6rem 0;
}
.avatar {
  margin-bottom: 1.6rem;
  text-align: center;
  width: 100%;
}
.download {
  display: flex;
  justify-content: center;
  margin-bottom: .8rem;
}
.parts {
  display: flex;
  justify-content: flex-start;
  margin-bottom: .8rem;
  overflow-x: scroll;
}
.colors {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
}
.widget {
  background: rgba(236,240,245,.5);
  border: .1rem solid white;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  padding: .4rem;
}
.head2 {
  margin-top: 3.2rem;
}
.thanks {
  margin-top: 1.6rem;
}
.languages {
  margin-top: 1.6rem;
  text-align: right;
  .country {
    width: 1.8rem;
    margin-left: .6rem;
  }
}
