default: &default
  name: Yet another open source forum using Golang.
  http:
    host: http://localhost
    port: 4000
  database:
    user: satellity
    password: ""
    host: localhost
    port: 5432
  github:
    client_id: b9b88888f3a5b0d7c99
    client_secret: d4e58888813aaec4e67c261e18a40bec2a2b8c38
  system:
    attachments:
      storage: "local"
      path: "/path/to/assets"
  recaptcha: # will be ignore if url or secret is blank
    url: "https://www.google.com/recaptcha/api/siteverify"
    secret: "6Lf27bgUbbbbbKYLfp8bkqal29xqHcUzmAlfW1hR"
  operators:
    - hi@gmail.com


development:
  <<: *default
  database:
    name: satellity_dev

test:
  <<: *default
  database:
    name: satellity_test

production:
  <<: *default
  database:
    name: satellity_production
