:global {
.home.layout {
  .topics {
    background: white;
    padding: 0.8rem;
  }
  .topic.item {
    border-bottom: 1px solid #F4F5F5;
    display: flex;
    align-items: flex-start;
    padding: .8rem 0 .8rem;
    .avatar {
      border-radius: 3.2rem;
      width: 3.2rem;
      height: 3.2rem;
    }
    .detail {
      color: #B4C4D1;
      flex-grow: 1;
      font-size: .875rem;
      padding-left: 0.8rem;
      h2 {
        font-weight: normal;
        font-size: 1.2rem;
        margin: 0;
      }
      svg {
        margin-right: 0.2rem;
      }
      .comment {
        color: #B4C4D1;
        font-size: 1rem;
        float: right;
        margin-left: 0.4rem;
      }
    }
  }
}
@media only screen and (max-width: 64rem) {
  .home.layout {
    .topic.item {
      .avatar {
        border-radius: 2.4rem;
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
}
}
