@import '../assets/css/constant.scss';

.loading {
  background: white;
  text-align: center;
}
.nodes {
  background: white;
  padding-bottom: 0.8rem;
}
.node {
  font-size: 1.2rem;
  display: inline-block;
  padding: .8rem .8rem .4rem;
  margin-right: .4rem;
  &:hover, &.current {
    border-bottom: 3px solid $color-main-red;
  }
}
.topics {
  background: white;
  padding: 0.8rem;
}
@media only screen and (max-width: 64rem) {
  .node {
    font-size: 1rem;
    padding: .8rem .6rem .4rem;
    margin-right: .2rem;
  }
}
