@import '../assets/css/constant.scss';

.topics {
  background: white;
  padding: 0.8rem;
}
.topic {
  border-bottom: 1px solid #F4F5F5;
  display: flex;
  align-items: flex-start;
  padding: .8rem 0 .8rem;
}
.avatar {
  border-radius: 3.2rem;
  flex-shrink: 0;
  width: 3.2rem;
  height: 3.2rem;
}
.detail {
  color: #B4C4D1;
  flex-grow: 1;
  font-size: .875rem;
  padding-left: 0.8rem;
}
.title {
  font-weight: normal;
  font-size: 1.2rem;
  margin: 0;
  word-break: break-all;
}
.comment {
  box-sizing: border-box;
  font-size: .8rem;
  flex-shrink: 0;
  text-align: right;
  min-width: 3rem;
  padding-left: 1.6rem;
}
.count {
  background: rgba($color-main-red, $color-main-red-alpha);
  border-radius: 1.6rem;
  color: white;
  padding: .2rem .8rem;
}

@media only screen and (max-width: 64rem) {
  .avatar {
    border-radius: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
  }
}
