:global {
.home.layout {
  .topic.item {
    display: flex;
    align-items: center;
    .avatar {
      border-radius: 3.6rem;
      width: 3.6rem;
      height: 3.6rem;
    }
    .detail {
      color: #aaa;
      flex-grow: 1;
      font-size: .875rem;
      padding-left: 1.2rem;
      h2 {
        color: #333;
        font-weight: normal;
        font-size: 1.2rem;
        margin: 0 0 .6rem;
      }
      svg {
        margin-right: 0.3rem;
      }
      .comment {
        color: #aaa;
        font-size: 1rem;
        float: right;
      }
    }
  }
}
}
