/* comment list */
.comments {
  background: white;
  box-sizing: border-box;
  padding: 0 .8rem .8rem;
}
.comment {
  border-bottom: 1px solid rgb(240, 240, 240);
  &:hover {
    .delete {
      display: inline-block;
    }
  }
}
.profile {
  display: flex;
}
.avatar {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 2.4rem;
}
.detail {
  flex-grow: 1;
  line-height: 1rem;
  padding-left: 0.8rem;
}
.time {
  font-size: .875rem;
  opacity: 0.6;
  margin: .4rem 0;
}
.delete {
  cursor: pointer;
  display: none;
  opacity: 0.6;
}
/*new & edit*/
.form {
  background: white;
  box-sizing: border-box;
  padding: .8rem;
  margin-top: .8rem;
}
