@import '../assets/css/constant.scss';

/* comment list */
.comments {
  background: white;
  box-sizing: border-box;
  padding: 0 .8rem .8rem;
}
.comment {
  border-bottom: 1px solid rgb(240, 240, 240);
}
.profile {
  display: flex;
}
.avatar {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 2.4rem;
}
.detail {
  flex-grow: 1;
  line-height: 1rem;
  padding-left: 0.8rem;
}
.time {
  font-size: .875rem;
  opacity: 0.6;
  margin: .4rem 0;
}
.station {
  position: relative;
}
.ellipsis {
  cursor: pointer;
}
.actions {
  position: absolute;
  background: #EEE;
  top: 2rem;
  right: -0.6rem;
  &:before {
    content:"\A";
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid #EEE;
    position: absolute;
    top: -.5rem;
    right: 0.3rem;
  }
  div {
    padding: 0 .8rem;
    cursor: pointer;
    &:hover {
      background: #ccc;
    }
  }
}
/*new & edit*/
.form {
  background: white;
  box-sizing: border-box;
  padding: .8rem;
  margin-top: .8rem;
}
