@import '../assets/css/constant.scss';

.messages {
  background: white;
  padding: 0.8rem;
}
.message {
  border-bottom: 1px solid rgb(240, 240, 240);
}
.profile {
  align-items: flex-start;
  display: flex;
  margin-bottom: .4rem;
}
.time {
  font-size: .875rem;
  opacity: 0.6;
}
