@import '../assets/css/constant.scss';

.message {
  border-bottom: 1px solid rgb(240, 240, 240);
}
.profile {
  align-items: flex-start;
  display: flex;
  margin-bottom: .4rem;
}
.time {
  font-size: .875rem;
  opacity: 0.6;
}
.input {
  height: 3rem;
  margin-bottom: .4rem;
}
.small {
  max-width: 10rem !important;
}
.commit {
  cursor: pointer;
}
.subProfile {
  display: flex;
  align-items: center;
  time {
    font-size: 0.875rem;
    opacity: 0.6;
  }
}
.subName {
  padding-right: .3rem;
}
.avatar {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: .8rem;
  margin-right: .3rem;
}
.replies {
  background: rgba(0,0,0,.05);
  padding: .4rem;
}
