[Unit]
Description=Satellity HTTP API
After=network.target

[Service]
User=user
Type=simple
ExecStart=/path/to/satellity -c /path/to/satellity/config.yaml -e production
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
