[Unit]
Description=GoDiscourse HTTP API
After=network.target

[Service]
User=user
Type=simple
Environment=GO_ENV=production
Environment=GO_DIR=/path/to/godiscourse/config.yaml
ExecStart=/path/to/godiscourse
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
