@import './constant.scss';

article.md {
  word-break: break-word;
  h2 {
    margin: 1.6rem 0 .8rem;
    .anchor {
      display: none;
      padding-left: .4rem;
    }

    &:hover {
      .anchor {
        display: inline-block;
      }
    }
  }
  ul, ol {
    margin: 0 0 .8rem;
    list-style: disc;
    padding-left: 1.3em;
    padding-right: 1.5em;
    li {
      padding: 0 0 0 .2rem;
    }
  }
  ol {
    list-style: decimal;
  }
  blockquote {
    padding: 0 0 0 1.2em;
    border-left: 2px solid #3eb0ef;
    margin: 0;
  }
  pre {
    border: none;
    background: #2a3644;
    font-size: .875rem;
    padding: 1.2rem 1.2rem;
    margin: .8rem -.8rem;
    overflow: auto;
    code {
      color: white;
      background: transparent;
      white-space: pre;
    }
  }
  code {
    background: #ECF0F5;
  }
  hr {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    height: 1px;
    border: none;
    border-top: 1px solid #e5eff5;
  }
  li {
    ul, ol {
      margin: 0.8rem 0 0;
    }
    pre {
      margin: 1.6rem 0 0;
    }
  }
  table {
    thead {
      text-align: left;
    }
    tbody {
      tr:nth-child(odd) {
        background: #f8f8f8;
      }
    }
    td, th {
      padding: .2rem .4rem;
    }
  }
  img, video {
    display: block;
    margin: 1.5em auto;
    max-width: 80%;
    height: auto;
  }
  a {
    color: #F75301;
  }
  .hljs {
    display: block;
    overflow-x: auto;
    line-height: 1.1rem;
    color: #abb2bf;
  }
  .hljs-keyword, .hljs-operator {
    color: #F92672;
  }
  .hljs-pattern-match {
    color: #F92672;
  }
  .hljs-pattern-match .hljs-constructor {
    color: #61aeee;
  }
  .hljs-function {
    color: #61aeee;
  }
  .hljs-function .hljs-params {
    color: #A6E22E;
  }
  .hljs-function .hljs-params .hljs-typing {
    color: #FD971F;
  }
  .hljs-module-access .hljs-module {
    color: #7e57c2;
  }
  .hljs-constructor {
    color: #e2b93d;
  }
  .hljs-constructor .hljs-string {
    color: #9CCC65;
  }
  .hljs-comment, .hljs-quote {
    color: #b18eb1;
    font-style: italic;
  }
  .hljs-doctag, .hljs-formula {
    color: #c678dd;
  }
  .hljs-section, .hljs-name, .hljs-selector-tag, .hljs-deletion, .hljs-subst {
    color: #e06c75;
  }
  .hljs-literal {
    color: #56b6c2;
  }
  .hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string {
    color: #98c379;
  }
  .hljs-built_in, .hljs-class .hljs-title {
    color: #e6c07b;
  }
  .hljs-attr, .hljs-variable, .hljs-template-variable, .hljs-type, .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-number {
    color: #d19a66;
  }
  .hljs-symbol, .hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-title {
    color: #61aeee;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: bold;
  }
  .hljs-link {
    text-decoration: underline;
  }
}
