@import '../assets/css/constant.scss';

.submit, .button {
  border-radius: 0.2rem;
  border: 1px solid rgba(218, 40, 16, 0.8);
  background: rgba(218, 40, 16, 0.8);
  color: white;
  cursor: pointer;
  padding: .6rem 1.6rem;
  text-align: center;
  transition: all 0.30s ease-in-out;
  width: 30rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auto {
  width: auto;
}
