@import '../assets/css/constant.scss';

.topic {
  border-bottom: 1px solid #F4F5F5;
  display: flex;
  align-items: flex-start;
  padding: .8rem 0 .8rem;
}
.avatar {
  border-radius: .4rem;
  flex-shrink: 0;
  width: 2.8rem;
  height: 2.8rem;
  margin-right: .8rem;
}
.sep {
  padding: 0 .4rem 0 0;
  &.left {
    padding-left: 0;
  }
}
.detail {
  color: $color-font-light-grey;
  flex-grow: 1;
  font-size: .875rem;
  &.no_avatar {
    padding-left: 0;
  }
}
.title {
  font-weight: normal;
  line-height: 1.2;
  margin: -.25rem 0 .4rem;
  word-break: break-all;
}
.node {
  background: #f19794;
  border-radius: .2rem;
  color: white;
  font-size: .75rem;
  margin-right: .6rem;
  padding: 1px .2rem;
}
.fullname {
  margin-right: .4rem;
}
.external {
  font-size: .75rem;
  margin-left: .4rem;
}
.edit {
  margin-left: .4rem;
}
.comments {
  margin-left: .4rem;
}
.comment {
  box-sizing: border-box;
  font-size: .8rem;
  flex-shrink: 0;
  text-align: right;
  min-width: 3rem;
  padding-left: .8rem;
}
.count {
  background: rgba($color-main-red, $color-main-red-alpha);
  border-radius: 1.6rem;
  color: white;
  padding: .1rem .6rem;
}

@media only screen and (max-width: 64rem) {
  .avatar {
    width: 2.4rem;
    height: 2.4rem;
  }
  .title {
    margin: -.2rem 0 .2rem;
    font-size: 1.125rem;
  }
}
