$border-light-color: rgba(225, 225, 225, 0.8);
$color-dark-background: #25476A;

.container {
  min-height: 100vh;
  background: rgb(236, 240, 245);
}
.header {
  background-image: linear-gradient(90deg, rgba(218, 40, 16, 0.6), rgba(218, 40, 16, 0.8));
  box-sizing: border-box;
  color: white;
  display: flex;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.8rem;
  padding: .8rem 1.6rem;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.brand {
  color: white;
  float: left;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
  &:after {
    display: none;
  }
}
.site {
  font-size: 1.125rem;
  flex-grow: 1;
  text-align: center;
}
.navi {
  color: white;
  display: inline-block;
  font-size: 1rem;
  margin-right: .8rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
  &:after {
    display: none;
  }
  &:last-child {
    margin-right: 0;
  }
  &.user {
    max-width: 6rem;
    overflow: hidden;
  }
}

@media only screen and (max-width: 64rem) {
  .header {
    padding: .8rem;
  }
  .name {
    display: none;
  }
}
