$border-light-color: rgba(225, 225, 225, 0.8);
$color-dark-background: #25476A;

.container {
  min-height: 100vh;
  background: rgb(236, 240, 245);
}
.header {
  background-image: linear-gradient(90deg, rgba(218, 40, 16, 0.6), rgba(218, 40, 16, 0.8));
  box-sizing: border-box;
  font-size: 1.2rem;
  padding: .8rem 1.6rem;
  text-align: right;
  line-height: 1.8rem;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.brand {
  color: white;
  float: left;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
  &:after {
    display: none;
  }
}
.mobile {
  display: none;
}
.logo {
  float: left;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.3rem;
}
.navi {
  color: white;
  font-size: 1rem;
  margin-right: .6rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
  &:after {
    display: none;
  }
  &:last-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 64rem) {
  .header {
    padding: .8rem;
  }
  .pc {
    display: none;
  }
  .mobile {
    display: inline-block;
  }
}
