@import '../assets/css/constant.scss';

.title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding: 3.2rem 1.6rem 0;
}
.keyword {
  color: #f4364c;
}
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 2.4rem .8rem;
}
.loading {
  text-align: center;
  width: 100%;
}
.product {
  box-sizing: border-box;
  padding: 0 .8rem 1.6rem;
  width: 33.3%;
}
.wrapper {
  background: white;
  box-shadow: 0px 0px 5px $color-border-light-grey;
  display: block;
  word-break: break-word;
}
.lazy {
  height: 12rem;
  overflow: hidden;
}
.cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 12rem;
  &:hover {
    opacity: 0.8;
  }
}
.desc {
  padding: .8rem;
}
.tags {
  padding-top: 1.2rem;
  .icon {
    color: $color-font-grey;
    margin-right: .4rem;
  }
}

@media only screen and (max-width: 60rem) {
  .product {
    width: 50%;
  }
  .lazy {
    height: 10rem;
    overflow: hidden;
  }
  .cover {
    height: 10rem;
  }
}

@media only screen and (max-width: 40rem) {
  .product {
    width: 100%;
    padding: 0 0 1.6rem;
  }
}
