.loading {
  background: white;
  text-align: center;
  padding: .8rem 0;
}
.product {
  background: white;
}
.cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 16rem;
}
.content {
  padding: .8rem;
}
.tags {
  margin-bottom: .8rem;
  .icon {
    margin-right: .4rem;
  }
}

@media only screen and (max-width: 48rem) {
  .cover {
    height: 12rem;
  }
}
