@import '../assets/css/constant.scss';

.loading {
  background: white;
  text-align: center;
  padding: .8rem 0;
}
.product {
  background: white;
}
.cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 16rem;
}
.content {
  padding: .8rem;
}
.tags {
  margin: 1.6rem 0 .8rem 0;
  .icon {
    color: $color-font-grey;
    margin-right: .4rem;
  }
}
.title {
  padding: 0 0.8rem;
}
.relationships {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 2.4rem;
}

@media only screen and (max-width: 48rem) {
  .cover {
    height: 12rem;
  }
}
