@import './constant.scss';

:global {
.btn {
  border-radius: 0.2rem;
  color: white;
  display: inline-block;
  transition: all 0.30s ease-in-out;
  padding: 0.75rem 1.5rem;
  &.primary {
    background: $color-main-red;
  }
  &.info {
    background: rgba($color-main-red, $color-main-red-alpha);
  }
  &:after {
    display: none;
  }
  &:hover {
    opacity: 0.8;
  }
}
}
