@import './constant.scss';

:global {
.btn {
  border-radius: 0.2rem;
  color: white;
  transition: all 0.30s ease-in-out;
  &.primary {
    background: $color-main-highlight;
    padding: 0.75rem 1.5rem;
  }
  &:after {
    display: none;
  }
  &:hover {
    opacity: 0.8;
  }
}
}
