@import './constant.scss';

:global {
article.md {
  ul, ol {
    margin: .8rem 0 0;
    list-style: disc;
    padding-left: 1.3em;
    padding-right: 1.5em;
    li {
      padding: 0 0 0 .2rem;
    }
  }
  blockquote {
    padding: 0 0 0 1.2em;
    border-left: 2px solid #3eb0ef;
    margin: 0;
  }
  pre {
    border: none;
    background: #2a3644;
    padding: 1.2rem 1.6rem;
    margin: 1.6rem -.8rem 0;
    overflow: auto;
    code {
      color: white;
      background: transparent;
      white-space: pre;
    }
  }
  hr {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    height: 1px;
    border: none;
    border-top: 1px solid #e5eff5;
  }
  li {
    ul, ol {
      margin: 0.8rem 0 0;
    }
    pre {
      margin: 1.6rem 0 0;
    }
  }
  img, video {
    display: block;
    margin: 1.5em auto;
    max-width: 100%;
    height: auto;
  }
}
}
