$font-main-content: 'Maven Pro', sans-serif;
$font-main-title: 'Roboto', sans-serif;
$font-main-mono: 'Roboto Mono', monospace;

$color-font-dark: rgb(33, 33, 33);
$color-font-grey: rgb(74, 74, 74);
$color-font-light-grey: rgb(115, 115, 115);

$color-bg-light-grey: rgb(247, 247, 247);

$color-border-light-grey: rgb(247, 247, 247);

$color-main-dark: rgb(50, 50, 50);
$color-main-grey: rgb(200, 200, 200);
$color-main-light: rgb(240, 240, 240);

// style for app front
$color-main-red: rgb(218, 40, 16);
$color-main-red-alpha: .8;
$color-main-red-light-alpha: .2;

// style for admin front
$color-main-blue: rgb(37, 71, 106);
$color-main-blue-alpha: .1;
