@import '../assets/css/constant.scss';

.explore {
  box-sizing: border-box;
  padding: .8rem;
  width: 100%;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.8rem;
}
.item {
  box-sizing: border-box;
  flex: 0 0 33.3333%;
  padding: .8rem;
  overflow: hidden;
}
.group {
  background: white;
  box-sizing: border-box;
  padding: .8rem;
}
.profile {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;
}
.avatar {
  border-radius: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: .4rem;
}
.nickname {
  flex-grow: 1;
}
.name {
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: .8rem;
}

@media only screen and (max-width: 64rem) {
  .item {
    flex: 0 0 50%;
  }
}

@media only screen and (max-width: 48rem) {
  .item {
    flex: 0 0 100%;
  }
}
