@import '../assets/css/constant.scss';

.group {
  background: white;
  box-sizing: border-box;
}
.head {
  display: flex;
  flex-direction: column;
  margin-bottom: .4rem;
  overflow: hidden;
}
.cover {
  width: 100%;
}
.title {
  padding: .4rem;
}
.avatar {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: .8rem;
  margin-right: .3rem;
}
.name {
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0rem;
}
.count {
  margin-left: .4rem;
}
.profile {
  display: flex;
  align-items: center;
  font-size: .875rem;
}
.description {
  color: rgba(0,0,0,0.6);
}
