@import '../assets/css/constant.scss';

.members {
  background: white;
  box-sizing: border-box;
  padding: .8rem;
  width: 100%;
}
.list {
  margin: -.8rem;
}
.item {
  box-sizing: border-box;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  padding: .8rem;
}
