@import '../assets/css/constant.scss';

.loading {
  background: white;
  text-align: center;
}
.group {
  background: white;
  padding: .8rem;
}
.head {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.6rem;
}
.title {
  flex-grow: 1;
  font-size: .875rem;
}
.name {
  margin: 0 0 .2rem;
}
.avatar {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: .4rem;
}
