.sign_in.layout {
  text-align: center;

  #layout-container {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .brand {
    margin: 0 0 3rem;

    a {
      color: black;
      font-size: 2rem;
    }
  }
}
