@import '../assets/css/constant.scss';

.profile {
  background: white;
  box-sizing: border-box;
  margin: 0 0 1.6rem;
  padding: .8rem;
  position: -webkit-sticky;
  position: sticky;
  top: 1.6rem;
  text-align: center;
}
.avatar {
  width: 8rem;
  height: 8rem;
  border: .2rem solid $color-border-light-grey;
  border-radius: 8rem;
  margin-bottom: .8rem;
}
.name {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: .8rem;
}
.created {
  color: $color-font-light-grey;
  margin-bottom: .8rem;
}
.biography {
  margin-bottom: .8rem;
}
.topics {
  background: white;
  padding: 0 1.2rem 1.2rem;
  box-sizing: border-box;
}
.title {
  background: white;
  border-bottom: 1px solid $color-border-light-grey;
  line-height: 3;
  padding: 0 1.2rem;
  text-transform: uppercase;
  &:after {
    background: $color-main-red;
    content: '';
    display: block;
    width: 4rem;
    height: .2rem;
  }
}
