.header {
  background: #EEE;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 1rem;
}
.title {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0 0 0.8rem;
  overflow: hidden;
}
.edit {
  font-size: 1rem;
  margin-left: 0.8rem;
}
.detail {
  color: #667D99;
}
.avatar {
  float: right;
  border-radius: 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
}
.body {
  padding: 1.6rem 0;
}
@media only screen and (max-width: 64rem) {
  .avatar {
    border-radius: 3.2rem;
    width: 3.2rem;
    height: 3.2rem;
  }
}
