/* show page */
.form_loading {
  background: white;
  text-align: center;
  padding: .8rem 0 0;
}
.loading {
  background: #EEE;
  text-align: center;
  padding: .8rem 0;
}
.content {
  background: white;
  box-sizing: border-box;
}
.header {
  background: #EEE;
  box-sizing: border-box;
  font-size: 1rem;
  padding: .8rem;
}
.title {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0 0 0.8rem;
  word-break: break-all;
}
.edit {
  font-size: 1rem;
  margin-left: 0.8rem;
}
.info {
  color: #667D99;
}
.avatar {
  float: right;
  border-radius: 3.2rem;
  width: 3.2rem;
  height: 3.2rem;
}
.body {
  padding: 1.6rem .8rem;
}
.rules {
  background-color: white;
  padding: .8rem;
}
.rule {
  padding-top: 0;
}
/* new & edit page */
.form {
  background: white;
  box-sizing: border-box;
  padding: .8rem;
}
@media only screen and (max-width: 64rem) {
  .avatar {
    border-radius: 3.2rem;
    width: 3.2rem;
    height: 3.2rem;
  }
}
