@import '../assets/css/constant.scss';

/* show page */
.form_loading {
  background: white;
  text-align: center;
  padding: .8rem 0 0;
}
.loading {
  background: $color-bg-light-grey;
  text-align: center;
  padding: .8rem 0;
}
.content {
  background: white;
  box-sizing: border-box;
}
.header {
  background: $color-bg-light-grey;
  box-sizing: border-box;
  font-size: 1rem;
  padding: .8rem;
}
.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 0.8rem;
  word-break: break-all;
}
.edit {
  font-size: 1rem;
  margin-left: 0.8rem;
}
.info {
  font-size: .875rem;
  color: $color-font-grey;
}
.avatar {
  float: right;
  border-radius: 3.2rem;
  width: 3.2rem;
  height: 3.2rem;
}
.body {
  padding: 1.6rem .8rem;
}
.rules {
  background-color: white;
  padding: .8rem;
}
.rule {
  padding-top: 0;
}
/* new & edit page */
.form {
  background: white;
  box-sizing: border-box;
  cursor: pointer;
  padding: .8rem;
}
.categories {
  margin-bottom: 1rem;
}
.category {
  background: $color-bg-light-grey;
  border-radius: .2rem;
  display: inline-block;
  padding: .2rem .8rem;
  margin-right: .8rem;
  &:hover {
    background: rgba($color-main-red, $color-main-red-alpha);
    color: white;
  }
}
.categoryCurrent {
  background: rgba($color-main-red, $color-main-red-alpha);
  color: white;
}
.topic_body {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  min-height: 16rem;
  overflow: hidden;
  pre {
    font-size: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
@media only screen and (max-width: 64rem) {
  .avatar {
    border-radius: 3.2rem;
    width: 3.2rem;
    height: 3.2rem;
  }
}
