@import '../../assets/css/constant.scss';

.gist {
  padding: .3rem .5rem;
  border-radius: .2rem;

  &:nth-child(odd) {
    background: #eceff1;
  }

  .meta {
    font-size: .75rem;
    color: $color-font-light-grey;
  }
}
