@import '../assets/css/constant.scss';

.widget {
  position: -webkit-sticky;
  position: sticky;
  top: 1.6rem;
}
.section {
  background: white;
  box-sizing: border-box;
  margin-bottom: 1.6rem;
  a {
    color: rgba(218, 40, 16, 0.8);
    &:after {
      background: rgba(218, 40, 16, 0.8);
    }
  }
}
.title {
  border-bottom: 1px solid #F4F5F5;
  font-weight: normal;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 3;
  padding: 0 1.2rem;
  margin: 0;
  &:after {
    background: $color-main-red;
    content: '';
    display: block;
    width: 5rem;
    height: .2rem;
  }
}
.rules {
  list-style: inside;
  padding: 1.2rem 1rem;
  li {
    padding: 0 0 .3rem;
  }
}
.avatar {
  background: white;
  padding: .8rem;
}
.new {
  background: white;
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
  padding: .8rem;
}
.copyright {
  color: $color-font-light-grey;
  font-family: America, sans-serif;
  font-size: .875rem;
  margin-top: 1.6rem;
}
@media only screen and (max-width: 64rem) {
  .new {
    display: none;
  }
  .signIn, .newTopic {
    padding: .8rem;
  }
  .copyright {
    padding: 0 0 .8rem .8rem ;
  }
}
