@import './assets/css/constant.scss';
@import './assets/fonts/index.scss';
@import './assets/css/button.scss';
@import './assets/css/input.scss';
@import './assets/css/markdown.scss';

:global {
html, body {
  color: $color-font-dark;
  font-family: Roboto Mono, Maven Pro,sans-serif;
}
body {
  line-height: 1.6rem;
}
a {
  color: $color-font-dark;
  position: relative;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
  &.soft {
    &:after {
      content: '';
      background: $color-main-red;
      border-radius: 2px;
      display: inline-block;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -2px;
      left: 0;
      transform: scaleX(0);
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      opacity: 1;
      &:after {
        transform: scaleX(1);
      }
    }
  }
}
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0.8rem 0;
  }
}
img {
  max-width: 100%;
}
.wrapper {
  margin: 0 auto;
  width: 80rem;
  max-width: 100%;
}
.section {
  box-sizing: border-box;
  padding: 0.8rem;
}
.editor {
  min-height: 24rem;
  .CodeMirror {
    height: 24rem;
  }
}
// TODO better choice?
div.container {
  display: flex;
  padding-top: 1.6rem;
  main.main {
    flex-grow: 1;
    width: 60rem;
    max-width: 100%;
    margin-bottom: 1.6rem;
  }

  aside.aside {
    flex-shrink: 0;
    width: 20rem;
    margin-bottom: 1.6rem;
  }
}

@media only screen and (max-width: 64rem) {
  html {
    font-size: 16px;
  }
  .section {
    padding: 0;
  }
  div.container {
    display: block;
    main.main {
      width: 100%;
    }
    aside.aside {
      width: 100%;
    }
  }
}
}
