@import './assets/fonts/index.scss';
@import './assets/css/button.scss';
@import './assets/css/input.scss';

$color-dark-background: #25476A;

:global {
html, body {
  color: #333;
  font-family: Roboto Mono, Maven Pro,sans-serif;
}

body {
  background-color: #FAFAFA;
}

a {
  color: #333;
  position: relative;
  text-decoration: none;
  &:after {
    content: '';
    background: $color-dark-background;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0.6rem 0;
  }
}

div.wrapper {
  margin: 0 auto;
  width: 80px;
  max-width: 96%;
}

div.section {
  box-sizing: border-box;
  padding: 0.8rem;
}
}
