.widget {
  background: white;
  a {
    color: rgba(218, 40, 16, 0.8);
    &:after {
      background: rgba(218, 40, 16, 0.8);
    }
  }
}
.sign_in {
  margin-top: 1.6rem;
  text-align: center;
  a {
    background: rgba(218, 40, 16, 0.8);
    box-sizing: border-box;
    color: white;
    display: block;
    padding: 0.4rem 0.8rem;
    &:after {
      background: white;
    }
  }
}
