@import '../assets/css/constant.scss';

.widget {
  background: white;
  box-sizing: border-box;
  padding: .8rem;
  a {
    color: rgba(218, 40, 16, 0.8);
    &:after {
      background: rgba(218, 40, 16, 0.8);
    }
  }
}
.sign_in {
  margin-top: 1.6rem;
  text-align: center;
  a {
    background: rgba(218, 40, 16, 0.8);
    box-sizing: border-box;
    color: white;
    display: block;
    padding: 0.4rem 0.8rem;
    &:after {
      background: white;
    }
  }
}
.copyright {
  color: $color-font-light-grey;
  font-family: America, sans-serif;
  font-size: .875rem;
  margin-top: 1.6rem;
}
