$font-main-content: 'Maven Pro', sans-serif;
$font-main-title: 'Roboto', sans-serif;
$font-main-mono: 'Roboto Mono', monospace;

$color-main-background: #FFFFFF;
$color-main-foreground-dark: #000000;
$color-main-foreground-light: #333333;
$color-main-highlight: #DD4814;
